<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="edhubJobsApp">
<head>
    <meta charset="utf-8">
    <title>Hacker Match</title>

    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="description" content="Hacker Match">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="Julius Hernandez Alvarado">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/edhub.css">
    <!-- endbuild -->

    <!-- ng-cloak -->
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-controller="CoreCtrl">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">
    upgrade your browser</ato improve your experience.</p>
<![endif]-->

<!-- START: Hero Landing -->
<section layout="column" layout-padding layout-align="center center"
         class="edhub-landing-hero edhub-overflow-hidden">
    <div class="edhub-landing-hero-text">
        <h2 style="margin: 0">{{ccAppName}}</h2>
    </div>

    <p style="background-color: rgba(0,0,0,0.4)" class="edhub-text-center">
        Choose your <b><u>Top 3</u></b> favorite tech AND OR strongest skills
    </p>

    <div layout="column" layout-align="center center">
        <p>3 Skills Chosen = {{ccSkillsPicked}}</p>
        <md-button ng-if="ccShowMatchBtn" class="md-raised" ng-click="ccGoToMatches()">
            See Matches
        </md-button>
    </div>

    <form name="hmatchUsernameInput">
        <md-input-container class="md-icon-float md-block" flex-gt-sm>
            <label for="hmatch-username" style="color: #f5f5f5">Username</label>
            <input id="hmatch-username" name="hmatchUsername" type="text" ng-model="ccUserSkills.username" ng-required>
            <div ng-messages="hmatchUsernameInput.hmatchUsername.$error">
                <div ng-message="required">Username is required</div>
            </div>
        </md-input-container>
    </form>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <div ng-repeat="tech in ccTechSkills">
            <md-button class="md-raised md-primary" ng-click="ccSkillClicked(tech)">
                {{tech}}
            </md-button>
        </div>
    </section>
</section>
<!-- END OF: Hero Landing -->

<section layout="row" layout-align="center center" layout-padding layout-margin>
    <div layout="column">
        <p>Valley Hack A Thon Matches</p>
        <ol class="hm-hack-a-thon-list" id="hm-valley-hack-a-thon-matches">
            <li></li>
        </ol>
    </div>
</section>

<!-- footer -->
<div layout="row" layout-gt-sm="column" layout-align="center center" style="background-color: whitesmoke;">
    <div flex layout-margin layout-padding>
        <h4>&copy; 2019 Julius Alvarado</h4>
        <h4>github.com/ideaguy3d</h4>
        <h4>valleyhackathon.com</h4>
    </div>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app.js"></script>
<!-- factories & services -->
<script src="services/ser.auth.js"></script>
<script src="services/ser.job.post.js"></script>
<script src="services/ser.org.list.js"></script>
<script src="services/ser.hacker-match.js"></script>
<!-- controllers -->
<script src="core.ctrl.js"></script>
<script src="states/landing/ctrl.landing.js"></script>
<script src="states/auth/ctrl.auth.js"></script>
<script src="states/post/ctrl.post.js"></script>
<script src="states/lab916/ctrl.lab916.js"></script>
<script src="states/apply/ctrl.job.apply.js"></script>
<script src="states/apply/ctrl.org.apply.js"></script>
<script src="states/org-apps/ctrl.org-apps.js"></script>
<script src="states/julius/ctrl.julius.js"></script>
<!-- prac stuff -->
<script src="ui-prac/ctrl.ui.prac.js"></script>
<!-- endbuild -->

</body>
</html>
